[build]
  command = "pnpm --filter=@keiba-review/nankan-review build"
  publish = "packages/nankan-review/dist"
  functions = "packages/nankan-review/netlify/functions"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
